body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #110f0f;
}

.container {
    text-align: center;
    background-color: rgb(212, 249, 100);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#timer, #score, #correctAnswers {
    margin: 10px 0;
    font-size: 18px;
}

#question {
    font-size: 20px;
    margin: 20px 0;
}

#answer {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
    color: rgb(31, 29, 88);
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
